<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit", edit_comment_path(@comment) %> |
  <%= link_to "Back to comments", comments_path %> |

  <%= link_to "Destroy this comment", @comment, method: :delete %>
</div>
